{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "templateStrings": true
    }
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "react/no-did-update-set-state": 0
  },
  "extends": ["standard", "standard-react", "plugin:flowtype/recommended"]
}
