.key-container {
    flex-wrap: wrap;
    flex-direction: column;
   
}

.col-sm-4 {
    display:flex;
    width: 250px;
    color:grey;
    padding:10px;
    font-size:12pt; 
    border: 0px solid grey;
    border-color: lightgrey;
    margin: 10px;
    min-width: 40px;
    min-height:420px;    
    align-content: flex-start;
    text-align: center;
}

.col-sm-3 {
    border-radius:10px;
}

.intro{
    font-size: large;
    color: black
}

.head{
    font-weight: bold;
    color: gray;
}

.company{
    font-weight: bold;
    color: #FDD85C;
    font-variant-caps: small-caps;
}

.location{
    font-style: italic;
    align-items: center;
}

.captions{
    font-style:italic;
}

.summary{
    font-size: 14px;
    font-weight: normal !important;
}